@use "sass:color";
@use "sass:map";
@use "palette";

// fixed colors
$theme: palette.$seed;
$black: palette.$neutral-0;
$white: palette.$neutral-100;
$shadow: $black;

// css variables
:where(:root, :host > *) {
  // fixed colors
  --wy-theme: #{$theme};
  --wy-black: #{$black};
  --wy-white: #{$white};
  --wy-shadow: #{$shadow};

  // palette
  --wy-primary-99: #{palette.$primary-99};
  --wy-primary-95: #{palette.$primary-95};
  --wy-primary-90: #{palette.$primary-90};
  --wy-primary-80: #{palette.$primary-80};
  --wy-primary-70: #{palette.$primary-70};
  --wy-primary-60: #{palette.$primary-60};
  --wy-primary-50: #{palette.$primary-50};
  --wy-primary-40: #{palette.$primary-40};
  --wy-primary-30: #{palette.$primary-30};
  --wy-primary-20: #{palette.$primary-20};
  --wy-primary-10: #{palette.$primary-10};
                   
  --wy-secondary-99: #{palette.$secondary-99};
  --wy-secondary-95: #{palette.$secondary-95};
  --wy-secondary-90: #{palette.$secondary-90};
  --wy-secondary-80: #{palette.$secondary-80};
  --wy-secondary-70: #{palette.$secondary-70};
  --wy-secondary-60: #{palette.$secondary-60};
  --wy-secondary-50: #{palette.$secondary-50};
  --wy-secondary-40: #{palette.$secondary-40};
  --wy-secondary-30: #{palette.$secondary-30};
  --wy-secondary-20: #{palette.$secondary-20};
  --wy-secondary-10: #{palette.$secondary-10};

  --wy-tertiary-99: #{palette.$secondary-99};
  --wy-tertiary-95: #{palette.$secondary-95};
  --wy-tertiary-90: #{palette.$secondary-90};
  --wy-tertiary-80: #{palette.$secondary-80};
  --wy-tertiary-70: #{palette.$secondary-70};
  --wy-tertiary-60: #{palette.$secondary-60};
  --wy-tertiary-50: #{palette.$secondary-50};
  --wy-tertiary-40: #{palette.$secondary-40};
  --wy-tertiary-30: #{palette.$secondary-30};
  --wy-tertiary-20: #{palette.$secondary-20};
  --wy-tertiary-10: #{palette.$secondary-10};

  --wy-error-99: #{palette.$error-99};
  --wy-error-95: #{palette.$error-95};
  --wy-error-90: #{palette.$error-90};
  --wy-error-80: #{palette.$error-80};
  --wy-error-70: #{palette.$error-70};
  --wy-error-60: #{palette.$error-60};
  --wy-error-50: #{palette.$error-50};
  --wy-error-40: #{palette.$error-40};
  --wy-error-30: #{palette.$error-30};
  --wy-error-20: #{palette.$error-20};
  --wy-error-10: #{palette.$error-10};

  --wy-neutral-99: #{palette.$neutral-99};
  --wy-neutral-95: #{palette.$neutral-95};
  --wy-neutral-90: #{palette.$neutral-90};
  --wy-neutral-80: #{palette.$neutral-80};
  --wy-neutral-70: #{palette.$neutral-70};
  --wy-neutral-60: #{palette.$neutral-60};
  --wy-neutral-50: #{palette.$neutral-50};
  --wy-neutral-40: #{palette.$neutral-40};
  --wy-neutral-30: #{palette.$neutral-30};
  --wy-neutral-20: #{palette.$neutral-20};
  --wy-neutral-10: #{palette.$neutral-10};

  --wy-neutral-variant-99: #{palette.$neutral-variant-99};
  --wy-neutral-variant-95: #{palette.$neutral-variant-95};
  --wy-neutral-variant-90: #{palette.$neutral-variant-90};
  --wy-neutral-variant-80: #{palette.$neutral-variant-80};
  --wy-neutral-variant-70: #{palette.$neutral-variant-70};
  --wy-neutral-variant-60: #{palette.$neutral-variant-60};
  --wy-neutral-variant-50: #{palette.$neutral-variant-50};
  --wy-neutral-variant-40: #{palette.$neutral-variant-40};
  --wy-neutral-variant-30: #{palette.$neutral-variant-30};
  --wy-neutral-variant-20: #{palette.$neutral-variant-20};
  --wy-neutral-variant-10: #{palette.$neutral-variant-10};

  --wy-surface-1-light: #{palette.$surface-1-light}; // --wy-surface + --wy-primary with 5% opacity
  --wy-surface-2-light: #{palette.$surface-2-light}; // --wy-surface + --wy-primary with 8% opacity
  --wy-surface-3-light: #{palette.$surface-3-light}; // --wy-surface + --wy-primary with 11 opacity
  --wy-surface-4-light: #{palette.$surface-4-light}; // --wy-surface + --wy-primary with 12% opacity
  --wy-surface-5-light: #{palette.$surface-5-light}; // --wy-surface + --wy-primary with 14% opacity

  --wy-surface-1-dark: #{palette.$surface-1-dark}; // --wy-surface + --wy-primary with 5% opacity
  --wy-surface-2-dark: #{palette.$surface-2-dark}; // --wy-surface + --wy-primary with 8% opacity
  --wy-surface-3-dark: #{palette.$surface-3-dark}; // --wy-surface + --wy-primary with 11 opacity
  --wy-surface-4-dark: #{palette.$surface-4-dark}; // --wy-surface + --wy-primary with 12% opacity
  --wy-surface-5-dark: #{palette.$surface-5-dark}; // --wy-surface + --wy-primary with 14% opacity

  // custom colors
  --wy-blue-light: #{palette.$blue-light};
  --wy-indigo-light: #{palette.$indigo-light};
  --wy-purple-light: #{palette.$purple-light};
  --wy-pink-light: #{palette.$pink-light};
  --wy-red-light: #{palette.$red-light};
  --wy-orange-light: #{palette.$orange-light};
  --wy-yellow-light: #{palette.$yellow-light};
  --wy-green-light: #{palette.$green-light};
  --wy-teal-light: #{palette.$teal-light};
  --wy-cyan-light: #{palette.$cyan-light};
  --wy-gray-light: #{palette.$gray-light};

  // custom colors
  --wy-blue-dark: #{palette.$blue-dark};
  --wy-indigo-dark: #{palette.$indigo-dark};
  --wy-purple-dark: #{palette.$purple-dark};
  --wy-pink-dark: #{palette.$pink-dark};
  --wy-red-dark: #{palette.$red-dark};
  --wy-orange-dark: #{palette.$orange-dark};
  --wy-yellow-dark: #{palette.$yellow-dark};
  --wy-green-dark: #{palette.$green-dark};
  --wy-teal-dark: #{palette.$teal-dark};
  --wy-cyan-dark: #{palette.$cyan-dark};
  --wy-gray-dark: #{palette.$gray-dark};
}

:where(:root, :host > *, .wy-light) {
  // light mode
  color-scheme: light;

  // theme colors
  --wy-primary: var(--wy-primary-40);
  --wy-on-primary: var(--wy-white); 
  --wy-primary-container: var(--wy-primary-90);
  --wy-on-primary-container: var(--wy-primary-10); 

  --wy-secondary: var(--wy-secondary-40);
  --wy-on-secondary: var(--wy-white); 
  --wy-secondary-container: var(--wy-secondary-90);
  --wy-on-secondary-container: var(--wy-secondary-10);

  --wy-tertiary: var(--wy-tertiary-40);
  --wy-on-tertiary: var(--wy-white); 
  --wy-tertiary-container: var(--wy-tertiary-90);
  --wy-on-tertiary-container: var(--wy-tertiary-10);

  --wy-error: var(--wy-error-40); 
  --wy-on-error: var(--wy-white); 
  --wy-error-container: var(--wy-error-90); 
  --wy-on-error-container: var(--wy-error-10); 

  --wy-background: var(--wy-neutral-99);
  --wy-on-background: var(--wy-neutral-10);

  --wy-surface: var(--wy-neutral-99);
  --wy-on-surface: var(--wy-neutral-10);

  --wy-surface-variant: var(--wy-neutral-variant-90);
  --wy-on-surface-variant: var(--wy-neutral-variant-30); 

  --wy-outline: var(--wy-neutral-variant-50);
  --wy-outline-variant: var(--wy-neutral-variant-80);

  --wy-inverse-surface: var(--wy-neutral-20);
  --wy-on-inverse-surface: var(--wy-neutral-95);
  --wy-inverse-primary: var(--wy-primary-80);

  --wy-surface-1: var(--wy-surface-1-light); // --wy-surface + --wy-primary with 5% opacity
  --wy-surface-2: var(--wy-surface-2-light); // --wy-surface + --wy-primary with 8% opacity
  --wy-surface-3: var(--wy-surface-3-light); // --wy-surface + --wy-primary with 11 opacity
  --wy-surface-4: var(--wy-surface-4-light); // --wy-surface + --wy-primary with 12% opacity
  --wy-surface-5: var(--wy-surface-5-light); // --wy-surface + --wy-primary with 14% opacity

  --wy-link: var(--wy-primary-40);

  // custom colors
  --wy-blue: var(--wy-blue-light);
  --wy-indigo: var(--wy-indigo-light);
  --wy-purple: var(--wy-purple-light);
  --wy-pink: var(--wy-pink-light);
  --wy-red: var(--wy-red-light);
  --wy-orange: var(--wy-orange-light);
  --wy-yellow: var(--wy-yellow-light);
  --wy-green: var(--wy-green-light);
  --wy-teal: var(--wy-teal-light);
  --wy-cyan: var(--wy-cyan-light);
  --wy-gray: var(--wy-gray-light);
}

:where(.wy-dark:not(.wy-light)) {
  // dark mode
  color-scheme: dark;

  // theme colors
  --wy-primary: var(--wy-primary-80);
  --wy-on-primary: var(--wy-primary-20); 
  --wy-primary-container: var(--wy-primary-30);
  --wy-on-primary-container: var(--wy-primary-90); 

  --wy-secondary: var(--wy-secondary-80);
  --wy-on-secondary: var(--wy-secondary-20); 
  --wy-secondary-container: var(--wy-secondary-30);
  --wy-on-secondary-container: var(--wy-secondary-90);

  --wy-tertiary: var(--wy-tertiary-80);
  --wy-on-tertiary: var(--wy-tertiary-20); 
  --wy-tertiary-container: var(--wy-tertiary-30);
  --wy-on-tertiary-container: var(--wy-tertiary-90);

  --wy-error: var(--wy-error-80); 
  --wy-on-error: var(--wy-error-20); 
  --wy-error-container: var(--wy-error-30); 
  --wy-on-error-container: var(--wy-error-90); 

  --wy-background: var(--wy-neutral-10);
  --wy-on-background: var(--wy-neutral-90);

  --wy-surface: var(--wy-neutral-10);
  --wy-on-surface: var(--wy-neutral-90);

  --wy-surface-variant: var(--wy-neutral-variant-30);
  --wy-on-surface-variant: var(--wy-neutral-variant-80); 

  --wy-outline: var(--wy-neutral-variant-60);
  --wy-outline-variant: var(--wy-neutral-variant-30);

  --wy-inverse-surface: var(--wy-neutral-90);
  --wy-on-inverse-surface: var(--wy-neutral-20);
  --wy-inverse-primary: var(--wy-primary-40);
 
  --wy-surface-1: var(--wy-surface-1-dark); // --wy-surface + --wy-primary with 5% opacity
  --wy-surface-2: var(--wy-surface-2-dark); // --wy-surface + --wy-primary with 8% opacity
  --wy-surface-3: var(--wy-surface-3-dark); // --wy-surface + --wy-primary with 11 opacity
  --wy-surface-4: var(--wy-surface-4-dark); // --wy-surface + --wy-primary with 12% opacity
  --wy-surface-5: var(--wy-surface-5-dark); // --wy-surface + --wy-primary with 14% opacity

  --wy-link: var(--wy-primary-80);

  // custom colors
  --wy-blue: var(--wy-blue-dark);
  --wy-indigo: var(--wy-indigo-dark);
  --wy-purple: var(--wy-purple-dark);
  --wy-pink: var(--wy-pink-dark);
  --wy-red: var(--wy-red-dark);
  --wy-orange: var(--wy-orange-dark);
  --wy-yellow: var(--wy-yellow-dark);
  --wy-green: var(--wy-green-dark);
  --wy-teal: var(--wy-teal-dark);
  --wy-cyan: var(--wy-cyan-dark);
  --wy-gray: var(--wy-gray-dark);
}

// scss theme colors
$primary: var(--wy-primary);
$on-primary: var(--wy-on-primary);
$primary-container: var(--wy-primary-container);
$on-primary-container: var(--wy-on-primary-container);

$secondary: var(--wy-secondary);
$on-secondary: var(--wy-on-secondary);
$secondary-container: var(--wy-secondary-container);
$on-secondary-container: var(--wy-on-secondary-container);

$tertiary: var(--wy-tertiary);
$on-tertiary: var(--wy-on-tertiary);
$tertiary-container: var(--wy-tertiary-container);
$on-tertiary-container: var(--wy-on-tertiary-container);

$error: var(--wy-error);
$on-error: var(--wy-on-error);
$error-container: var(--wy-error-container);
$on-error-container: var(--wy-on-error-container);

$background: var(--wy-background);
$on-background: var(--wy-on-background);

$surface: var(--wy-surface);
$on-surface: var(--wy-on-surface);

$surface-variant: var(--wy-surface-variant);
$on-surface-variant: var(--wy-on-surface-variant);

$outline: var(--wy-outline);
$outline-variant: var(--wy-outline-variant);

$surface-1: var(--wy-surface-1);
$surface-2: var(--wy-surface-2);
$surface-3: var(--wy-surface-3);
$surface-4: var(--wy-surface-4);
$surface-5: var(--wy-surface-5);

$inverse-surface: var(--wy-inverse-surface);
$on-inverse-surface: var(--wy-on-inverse-surface);
$inverse-primary: var(--wy-inverse-primary);

$link: var(--wy-link);

// scss custom colors
$blue: var(--wy-blue);
$indigo: var(--wy-indigo);
$purple: var(--wy-purple);
$pink: var(--wy-pink);
$red: var(--wy-red);
$orange: var(--wy-orange);
$yellow: var(--wy-yellow);
$green: var(--wy-green);
$teal: var(--wy-teal);
$cyan: var(--wy-cyan);
$gray: var(--wy-gray);


