@use "sass:selector";
@use "colors";

@mixin scroll-y {
  overflow-y: auto;
  touch-action: pan-y, pan-x;

  // to enable HW acceleration and not cause repaint on scroll
  // opacity needed for custom scrollbar to paint
  will-change: scroll-position, opacity;
  backface-visibility: hidden;

  // ios momentum scrolling on iOS <= 12, cannot be used on the <body> element!
  &:not(body) {
    -webkit-overflow-scrolling: touch;
  }

  max-height: 100%;
}

@mixin scroll-x {
  overflow-x: auto;
  touch-action: pan-y, pan-x;

  // to enable HW acceleration and not cause repaint on scroll
  will-change: scroll-position, opacity;
  backface-visibility: hidden;
  max-width: 100%;
}

// custom scrollbar styling
@mixin custom-scrollbar {
  // custom scrollbar for webkit browsers
  // reference https://webkit.org/blog/363/styling-scrollbars/

  &::-webkit-scrollbar {
    height: .625rem;
    width: .625rem;
    background: transparent;
    z-index: 999;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    //background-color: rgba(colors.$gray-500, 0.75);
    background-color: colors.$outline;
    border: .125rem solid transparent;
    border-radius: .5rem;
    background-clip: padding-box;
    opacity: 75%;

    &:hover {
      //background-color: rgba(colors.$gray-700, 0.75);
      background-color: colors.$outline-variant;
      opacity: 75%;
    }

    &:window-inactive {
      //background-color: rgba(colors.$gray-500, 0.5);
      background-color: colors.$outline;
      opacity: 50%;
    }
  }

  // custom scrollbar for firefox
  scrollbar-width: thin;
  //scrollbar-color: rgba(colors.$gray-500, 0.75) transparent;
  scrollbar-color: #{colors.$outline} transparent;
}

// custom scrollbar styling
@mixin thin-scrollbar {
  // custom scrollbar for webkit browsers
  &::-webkit-scrollbar {
    height: .375rem;
    width: .375rem;
    background: transparent;
    z-index: 999;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    //background-color: rgba(colors.$gray-700, 0.75);
    background-color: colors.$outline-variant;
    opacity: 75%;
    border: 0 solid transparent;
    border-radius: 0;
    background-clip: padding-box;

    &:hover {
      //background-color: rgba(colors.$gray-500, 0.75);
      background-color: colors.$outline;
      opacity: 75%;
    }

    &:window-inactive {
      //background-color: rgba(colors.$gray-500, 0.5);
      background-color: colors.$outline;
      opacity: 50%;
    }
  }
  
  // custom scrollbar for firefox
  scrollbar-width: thin;
  //scrollbar-color: rgba(colors.$gray-700, 0.75) transparent;
  scrollbar-color: #{colors.$outline-variant} transparent;
}

@mixin scrollbar-top-padding($scrollbar-padding) {
  &::-webkit-scrollbar-button:vertical:start:single-button {
    height: $scrollbar-padding;
  }
}

@mixin scrollbar-bottom-padding($scrollbar-padding) {
  &::-webkit-scrollbar-button:vertical:end:single-button {
    height: $scrollbar-padding;
  }
}

// Exposed styles

.wy-scroll-y {
  @include scroll-y;

  &:not(.wy-scroll-x) {
    overflow-x: hidden;
    touch-action: pan-y;
  }

  scroll-padding-top: var(--wy-scrollbar-adjust-top, 0);
  scroll-padding-bottom: var(--wy-scrollbar-adjust-bottom, 0);
}

.wy-scroll-x {
  @include scroll-x;

  &:not(.wy-scroll-y) {
    overflow-y: hidden;
    touch-action: pan-x;
  }
}

.wy-scrollbars {
  // custom scrollbar styling
  // use overlay scrollbars if supported

  &.wy-scroll-y, .wy-scroll-y {
    @supports (overflow-y: overlay) {
      overflow-y: overlay;
    }

    @include custom-scrollbar;

    // scrollbar offsets
    @include scrollbar-top-padding(#{'var(--wy-scrollbar-adjust-top, 0)'});
    @include scrollbar-bottom-padding(#{'var(--wy-scrollbar-adjust-bottom, 0)'});
  }
}

// prevent scroll when opening modals etc.
.wy-block-scroll {
  overflow: hidden !important;
}

// element for detecting scrollbar capabilities (visibility, overlay etc.)
.wy-scrollbar-detection {
  position: fixed;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  overflow: scroll;
  z-index: -99999;
  pointer-events: none;
  visibility: hidden;
}
