@use "sass:map";
@use "base/vars";
@use "base/colors";

.wy-alerts {
  position: fixed;
  left: 0;
  top: 4rem;
  right: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: vars.$zindex-fixed;
  gap: 1rem;
}

.wy-alert {
  background: colors.$surface-1;
  color: colors.$on-surface;
  margin: 0 0 1rem;
  //max-width: calc(100% - 3rem);
  gap: .5rem;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: baseline;
  cursor: pointer;
  border-radius: vars.$border-radius;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  user-select: none;
  //box-shadow: vars.$shadow-level2;
  position: relative;
  overflow: hidden;
  height: auto;
  gap: .5rem;

  &.wy-fade {
    transition: all vars.$transition;
    
    &:not(.wy-show) {
      opacity: 0;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .wy-text {
    line-height: 1.5;
    padding: .5rem;
  }

  .wy-button {
    margin-left: auto;
    pointer-events: auto;
  }
}



.wy-alert-primary {
  background: colors.$primary-container;
  color: colors.$on-primary-container;
}
