@use "base/vars";
@use "base/colors";

:where(:root, :host > *) {
  --wy-presence-active: #{colors.$green};
}

.wy-avatar {
  border-radius: 50%;
}

.wy-avatar-header {
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wy-avatar-presence {
  position: relative;
  display: inline-flex;
}

// presence indicator
.wy-presence {
  &:not(.wy-presence-active) {
    display: none; // initially hidden
  }

  background-color: var(--wy-component-background-color, transparent);
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  //outline: .125rem solid ;
  position: absolute;
  bottom: 0;
  right: -5%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: var(--wy-presence-active);
    background-clip: content-box;
    padding: .125rem;
  }
}
