@use "base/vars";
@use "base/colors";
@use "base/text";

$badge-padding-y: .35em !default;
$badge-padding-x: .65em !default;
$badge-font-size: .75em !default;
$badge-font-weight: vars.$font-weight-bold !default;

.wy-badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  color: colors.$on-primary;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  border-radius: vars.$border-radius-pill;
  background-color: colors.$primary;
}

.wy-button {
  position: relative; // so that we can position .badge

  // badge, e.g. notification count
  .wy-badge {
    font-size: vars.$font-size-xs;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 1rem;
    margin: 0;
    padding: .25rem;
    min-width: 1rem;
    max-width: 2rem;
    height: 1rem;
    line-height: .5rem;
    display: block;
    text-align: center;
    
    @include text.truncate;

    &:empty {
      display: none;
    }
  }
}
