@use "base/vars";

// Include mixin in the relative class that should be suffixed with -check
.wy-button {
  // From bootstrap/scss/forms/_form_check
  &-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;

    &[disabled] + &,
    &:disabled + & {
      pointer-events: none;
      filter: none;
      opacity: vars.$opacity-disabled;
    }
  }
  // From bootstrap/scss/_buttons
  &-check:focus + &,
  &:focus {
    outline: 0;
    //box-shadow: vars.$btn-focus-box-shadow;
  }
  /*&-check:checked + &,
  &-check:active + & {
    box-shadow: vars.$btn-active-box-shadow;
  
    &:focus {
      box-shadow: vars.$btn-focus-box-shadow, vars.$btn-active-box-shadow;
    }
  }*/
  // Custom icons
  &-check + .wy-button-icon {
    svg:last-child {
      display: none;
    }
  }

  &-check:disabled + .wy-button-icon {
    opacity: vars.$opacity-disabled;
  }

  &-check:checked + .wy-button-icon {
    svg:first-child {
      display: none;
    }

    svg:last-child {
      display: inline-block;
    }
  }
}
