@use "base/vars";
@use "base/colors";
@use "base/text";

.wy-conversations{
    position:relative;
}

.wy-conversation {
  display: flex;
  position: relative;

  .wy-item-title {
    font-weight: vars.$font-weight-normal;
  }

  &.wy-unread {
    .wy-item-title {
      font-weight: vars.$font-weight-bold;
    }

    .wy-item-text, .wy-meta {
      color: colors.$on-background;
      font-weight: vars.$font-weight-semibold;
    }
  }

  .wy-item-text {
    .wy-typing-show {
      @include text.truncate;
      font-weight: vars.$font-weight-normal;
    }
  }
}


