.wy-emoji {
  font-size: 1.25em;
  width: 1em;
  height: 1em;
  vertical-align: -.125em; 
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

img, svg {
  &.wy-emoji {
    vertical-align: -.25em;
  }
}
