@use "base/colors";
@use "base/vars";
@use "base/text";
@use "base/breakpoints";

.wy-filename {
  font-size: vars.$font-size-sm;
  @include text.truncate;
}

.wy-files-dragging {
  &::after {
    content: "Drop files here to upload.";
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed colors.$primary;
    font-weight: vars.$font-weight-bold;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}



.wy-upload-progress-item {
  flex-direction: column;
  padding: 0.75rem .25rem;

  .wy-upload-progress-item-content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25rem;
  }

  .wy-upload-progress-success {
    display: flex;
    align-items: center;
  }

  .wy-upload-progress {
    display: flex;
    width: 100%;

    progress {
      flex: 1;
      height: 0.5rem;
      accent-color: colors.$primary;
    }
  }
}

.wy-upload-error {
  align-items: flex-start;  
  flex-direction: column;
  white-space: normal;

  .wy-upload-error-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25rem;
  }

  .wy-upload-error-text {
    color: colors.$error;
  }

  .wy-upload-error-actions {
    white-space: nowrap;
  }
}

.wy-file-upload-errors {
  display: flex;
  flex-direction: column;

  .wy-upload-error-row {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    column-gap: 1rem;

    .wy-upload-error-row-title {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .wy-upload-error-row-conflict {
      background-color: colors.$error-container;
      color: colors.$on-error-container;
    }

    .wy-upload-error-row-error {
      color: colors.$error;
    }
  }
}

.wy-table-files {
  thead {
    display: none;
    text-align: left;
  }

  td:nth-child(2) {
    // make room for rename form
    padding: 0 vars.$table-cell-padding-x;
  }
  // filename
  td:nth-child(2),
  th:nth-child(2) {
    width: 100%;
    @include text.truncate;
  }
  // modified
  td:nth-child(3),
  th:nth-child(3) {
    display: none;
    width: 7rem;
    @include text.truncate;
  }
  // kind
  td:nth-child(4),
  th:nth-child(4) {
    display: none;
    width: 7.5rem;
    text-align: right;
    @include text.truncate;
  }
  // size
  td:nth-child(5),
  th:nth-child(5) {
    display: none;
    width: 7rem;
    text-align: right;
    @include text.truncate;
  }
  // TODO: REMOVE BREAKPOINTS
  @include breakpoints.media-breakpoint-up(sm) {
    thead {
      display: table-header-group;
    }

    td:nth-child(5),
    th:nth-child(5) {
      display: table-cell;
    }
  }

  @include breakpoints.media-breakpoint-up(md) {

    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4) {
      display: table-cell;
    }
  }
}
