@use "base/colors";
@use "base/vars";
@use "base/text";
@use "base/breakpoints";

.wy-filename {
  font-size: vars.$font-size-sm;
  @include text.truncate;
  text-align: center;
}

.wy-files {
    width: 100%;
}

.wy-files-dragging {
  &::after {
    content: "Drop files here to upload.";
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed colors.$primary;
    font-weight: vars.$font-weight-bold;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
} 

// Deprecated table styles

.wy-table-files {
  thead {
    display: none;
    text-align: left;
  }

  td:nth-child(2) {
    // make room for rename form
    padding: 0 vars.$table-cell-padding-x;
  }
  // filename
  td:nth-child(2),
  th:nth-child(2) {
    width: 100%;
    @include text.truncate;
  }
  // modified
  td:nth-child(3),
  th:nth-child(3) {
    display: none;
    width: 7rem;
    @include text.truncate;
  }
  // kind
  td:nth-child(4),
  th:nth-child(4) {
    display: none;
    width: 7.5rem;
    text-align: right;
    @include text.truncate;
  }
  // size
  td:nth-child(5),
  th:nth-child(5) {
    display: none;
    width: 7rem;
    text-align: right;
    @include text.truncate;
  }
  // TODO: REMOVE BREAKPOINTS
  @include breakpoints.media-breakpoint-up(sm) {
    thead {
      display: table-header-group;
    }

    td:nth-child(5),
    th:nth-child(5) {
      display: table-cell;
    }
  }

  @include breakpoints.media-breakpoint-up(md) {

    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4) {
      display: table-cell;
    }
  }
}

// NEW (preferred) table styles
// TODO: Remove deprecated styles

.wy-files-thead {
  text-align: left;
  @include breakpoints.media-breakpoint-down(md) {
      display: none;
  }
}

.wy-files-td-filename {
  // make room for rename form
  padding: 0 vars.$table-cell-padding-x;
}
// filename
.wy-files-td-filename,
.wy-files-th-filename {
  width: 100%;
  @include text.truncate;
}
// modified
.wy-files-td-modified,
.wy-files-th-modified {
  width: 7rem;
  @include text.truncate;
  @include breakpoints.media-breakpoint-down(lg) {
    display: none;
  }
}
// kind
.wy-files-td-kind,
.wy-files-th-kind {
  width: 7.5rem;
  text-align: right;
  @include text.truncate;
  @include breakpoints.media-breakpoint-down(lg) {
      display: none;
  }
}
// size
.wy-files-td-size,
.wy-files-th-size {
  width: 7rem;
  text-align: right;
  @include text.truncate;
  @include breakpoints.media-breakpoint-up(md) {
      display: none;
  }
}
