// External filebrowsers
.wy-filebrowser {
  pointer-events: none;
  width: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wy-filebrowser-frame {
  pointer-events: all;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  background: rgba(0,0,0,.5)
}
