@use "base/colors";
@use "base/vars";

.wy-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  position: relative;

  &:not([width]) {
    width: 1.5rem;
  }

  &:not([height]) {
    height: 1.5rem;
  }
}

.wy-icon-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--wy-component-background-color, #{colors.$background});
  border-radius: 50%;
  border: 1px solid var(--wy-component-background-color, #{colors.$background});
}

// stacked icons (icon+overlay icon)
.wy-icon-stack {
  display: inline-flex;
  position: relative;
  line-height: 1;

  .wy-icon:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--wy-component-background-color, #{colors.$background});
    border-radius: 50%;
  }
}

// stacked icons (icon+active icon)
.wy-icon-active-stack {
  display: inline-flex;
  position: relative;
  line-height: 1;

  > * {
    transition: opacity vars.$transition;
    align-self: center;
    justify-self: center;
    margin: auto;
  }

  > :last-child {
    position: absolute;
    opacity: 0;
  }

  &.wy-active, .wy-active & {
    > :first-child {
      opacity: 0;
    }

    > :last-child {
      opacity: 1;
    }
  }
}

// icons normally inherit the text color of its parent
.wy-icon:not([class*="wy-icon-"]):not([class*="wy-kind-"]):not([data-icon=progress]) * {
  fill: currentColor;
}

// big file type icon
.wy-content-icon {
  border-radius: var(--wy-component-border-radius, vars.$border-radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 2rem;
  margin: auto;

  > .wy-icon-stack, > .wy-icon {
    width: 4rem;
    height: 4rem;
  }
}

// theme icons
.wy-icon-primary * {
  fill: colors.$primary;
}

.wy-icon-error * {
  fill: #{colors.$error};
}

// colored icons
.wy-icon-blue * {
  fill: #{colors.$blue};
}

.wy-icon-indigo * {
  fill: #{colors.$indigo};
}

.wy-icon-purple * {
  fill: #{colors.$purple};
}

.wy-icon-pink * {
  fill: #{colors.$pink};
}

.wy-icon-red * {
  fill: #{colors.$red};
}

.wy-icon-orange * {
  fill: #{colors.$orange};
}

.wy-icon-yellow * {
  fill: #{colors.$yellow};
}

.wy-icon-green * {
  fill: #{colors.$green};
}

.wy-icon-teal * {
  fill: #{colors.$teal};
}

.wy-icon-cyan * {
  fill: #{colors.$cyan};
}

.wy-icon-gray * {
  fill: #{colors.$gray};
}

// file type icons
[class*="wy-kind-"] * {
  fill: colors.$gray;
}

.wy-kind-archive * {
  fill: colors.$orange;
}

.wy-kind-audio * {
  fill: colors.$teal;
}

.wy-kind-code * {
  fill: colors.$green;
}

.wy-kind-document * {
  fill: colors.$blue;
}

.wy-kind-email * {
  fill: colors.$red;
}

.wy-kind-presentation * {
  fill: colors.$orange;
}

.wy-kind-spreadsheet * {
  fill: colors.$green;
}

.wy-kind-image * {
  fill: colors.$pink;
}

.wy-kind-text * {
  fill: colors.$cyan;
}

.wy-kind-video * {
  fill: colors.$purple;
}

.wy-ext-pdf * {
  fill: colors.$red;
}


// progress icon
[data-icon=progress] {

  &.wy-icon-primary {
    color: colors.$primary;
  }

  :first-child {
    fill: none;
    stroke: colors.$surface-variant;
  }

  :last-child {
    fill: none;
    stroke: currentColor;
  }
}

