@use "sass:color";
@use "base/vars";
@use "base/colors";

.wy-messages {
  padding: 1rem 1rem 1rem .75rem;
  flex: 1 1 100%;
}

.wy-message-placeholder {
  opacity: .5;
}

.wy-date-separator {
  font-size: vars.$font-size-xs;
  pointer-events: none;
  margin: .5rem;
  text-align: center;
  position: sticky;
  top: 1.5rem;
  z-index: 10;

  time {
    background: colors.$surface-3;
    color: colors.$on-surface;
    padding: .25rem .5rem;
    border-radius: vars.$border-radius-sm;
    display: inline-block;
  }
}

.wy-appbars + .wy-pane-body .wy-date-separator {
  top: vars.$appbar-height + 1.5rem;
}


.wy-message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1rem;

  .wy-image-grid,
  .wy-attachments {
    border-radius: vars.$border-radius;
  }
}

.wy-message-meta {
  font-size: vars.$font-size-xs;
  margin: 0 0 .25rem .25rem;
  color: colors.$on-surface-variant;
}

.wy-message-bubble {
  --wy-component-background-color: #{colors.$surface-variant};
  --wy-component-color: #{colors.$on-surface-variant};
  //--wy-component-border-radius: #{vars.$border-radius};

  background-color: var(--wy-component-background-color);
  color: var(--wy-component-color);
  //border-radius: var(--wy-component-border-radius);

  border-radius: calc(vars.$border-radius + .5rem);
  display: flex; //inline-block;
  flex-direction: column;
  padding: .75rem;
  gap: .75rem;
  max-width: min(32rem, calc(100% - 2rem));

  > div {
    // message section (images, attachments, embeds etc.)
    flex: 1 1 100%;
  }

  .wy-likes, .wy-reactions-line {
    position: relative;
    height: 0;
    min-height: 0;
    max-height: 0;
    margin: 0 -.75rem -.75rem;
    flex: 0 0 0;
  }

  .wy-like-count {
    background: var(--wy-component-background-color);
    border-radius: vars.$border-radius-pill;
    color: currentColor;
  }

  .wy-reactions-line, wy-reactions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}


.wy-message-author {
  margin: 1.375rem .5rem 0 0;
}

.wy-message-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  position: relative; // so that we can position reactions
}

.wy-message-content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
// override some styles for message by current user
.wy-message-me {
  margin-right: 0;
  margin-left: 2.5rem;
  align-items: flex-end;

  .wy-message-meta {
    margin: 0 .25rem .25rem 0;
  }

  .wy-message-content {
    align-items: flex-end;
  }

  .wy-message-content-row {
    flex-direction: row-reverse;
  }

  .wy-message-bubble {
    --wy-component-background-color: #{colors.$primary-container};
    --wy-component-color: #{colors.$on-primary-container};
    //--wy-component-border-radius: #{vars.$border-radius};

    background-color: var(--wy-component-background-color);
    color: var(--wy-component-color);
    //border-radius: var(--wy-component-border-radius);
  }


  .wy-likes {
    flex-direction: row-reverse;
  }

  .wy-reactions-line, wy-reactions {
    display: flex;
    flex-direction: row;

    .wy-dropdown-menu {
      right: 0;
    }
  }
}
// override some styles for message that contain only emoji
.wy-message-emoji {
  .wy-message-bubble {
    background: none;
    padding: 0 0 .75rem;
  }

  .wy-content {
    .wy-emoji {
      width: 3rem;
      height: 3rem;
      font-size: 3em;
      margin: 0 .125rem;
    }
  }
}

// message status indicator (sending, sent, delivered, read)
.wy-readby-status {
  display: flex;
  gap: .25rem;
  height: 18px; // same height as avatar (prevents layout change when readby indicators are updated)
  justify-content: flex-end;
  margin-top: -.125rem;
}

.wy-message-readmore {
  justify-self: center;
  text-align: center;
}
