@use "base/vars";
@use "base/colors";
@use "base/breakpoints";

.wy-viewport {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: vars.$zindex-max; /* max possible z-index */;
    pointer-events: none;
}

// Overlays

.wy-overlays {
    pointer-events: none;
    width: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    overflow-y: initial;
    overflow-x: initial;
    perspective: 100rem;
    perspective-origin: center center;

    .wy-panel {
        background-color: colors.$background;
        //max-height: 100vh; // Causes height error in safari

        &:not(.wy-transition) {
            transform: translateZ(-4rem) !important;
        }

        .wy-controls {
            position: absolute;
            border-bottom: none;
            flex-direction: row;
            transition: opacity .1s .2s step-end;
            //background: colors.$surface-1;

            .wy-icon {
                color: colors.$on-surface;
            }
        }

        &.wy-loaded {
            .wy-controls {
                pointer-events: none;
                opacity: 0;
            }
        }

        .wy-panel-frame {
            background-color: transparent;
        }

        &.wy-modal {
            // TODO: REMOVE BREAKPOINTS
            @include breakpoints.media-breakpoint-up(md) {
                left: auto;
                right: auto;
                top: 2rem;
                bottom: 3.2rem;
                margin-left: 4rem;
                margin-top: auto;
                margin-right: 4rem;
                margin-bottom: auto;
                border-radius: vars.$border-radius; //.25rem;
                box-shadow: vars.$shadow-level4;
                width: 32rem;
                max-height: 32rem;
                &:not(.wy-scroll-y) {
                    overflow: hidden;
                }
            }
        }

        &.wy-modal-full {
            // TODO: REMOVE BREAKPOINTS
            @include breakpoints.media-breakpoint-up(md) {
                left: 1rem;
                top: 1rem;
                right: 1rem;
                bottom: 1rem;
                margin: 0;
                border-radius: vars.$border-radius; //.1875rem;
                box-shadow: vars.$shadow-level4;
                width: auto;
                max-height: none;
                &:not(.wy-scroll-y) {
                    overflow: hidden;
                }
            }
        }

        &.wy-loading {
            .wy-controls {
                transition: opacity vars.$transition;
                //transition: opacity variables.$transition .2s;
                opacity: 1;
            }
        }
    }
}
