tr.wy-pager {
  pointer-events: none;
}

:not(tr).wy-pager {
  display: block;
  text-align: center;
  margin: 1rem auto;
}

tr.wy-pager td {
  text-align: center;
  border: 0;

  .wy-spinner {
    display: inline;
    margin: 1rem auto;
  }
}

.wy-grid .wy-pager {
    display: flex;
}
