@use "sass:color";
@use "base/vars";
@use "base/colors";
@use "base/backdrop";
@use "base/svg";

.wy-panels {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior: contain;
    overflow-y: auto;
    overflow-x: hidden;
}

.wy-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    background-color: colors.$background;
    display: flex;
    flex-direction: column;

    .wy-controls {
        top: .25rem;
        left: .25rem;
        min-width: 2.5rem;
        width: auto;
        display: flex;
        z-index: 10000;
        order: -1;
        flex-direction: row-reverse;

        &:empty {
            display: none;
        }

        .wy-icon {
            color: colors.$on-background;
        }

        border-bottom: 1px solid colors.$outline-variant;
    }

    .wy-panel-frame {
        transition: opacity vars.$transition-fast;
        transition-delay: .2s;
        opacity: 1;
    }

    &:not(.wy-loaded) .wy-panel-frame {
        opacity: 0;
        transition: opacity .2s step-start;
        transition-delay: .1s;
    }

    &.wy-open {
        pointer-events: all;
        z-index: 5;

        &[data-title]::before {
            content: attr(data-title);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: vars.$appbar-height;
            padding: .25rem;
            opacity: 0;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .1s step-end;
            transition-delay: .2s;
            font-family: inherit;
            line-height: vars.$line-height-base;
            font-weight: vars.$font-weight-base;

            background-color: colors.$surface-1;
            color: colors.$on-surface;
            box-shadow: #{colors.$outline-variant} 0px -1px 0px 0px inset;

            @include backdrop.filter;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            opacity: 0;
            transition: opacity vars.$transition;
            transition-duration: 0s;
        }

        &.wy-loading {
            &[data-title]::before {
                //transition: opacity vars.$transition;
                opacity: 1;
            }

            &::after {
                transition: opacity vars.$transition;
                transition-duration: .5s;
                opacity: 1;
                background-image: svg.$spinner;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: rem(2);
                background-color: transparent;
            }
        }
    }
}

// Transitions
.wy-panel {
    opacity: 0;
    visibility: hidden;
    transition: opacity vars.$transition-fast .01s, transform vars.$transition-fast .01s, visibility .01s step-end vars.$transition-duration-fast;

    &.wy-open {
        transition: opacity vars.$transition, transform vars.$transition, visibility vars.$transition-duration step-start;
        visibility: visible;

        &.wy-transition {
            opacity: 1;
            transform: none;
        }
    }
}

.wy-panel-frame {
    flex: 1 1 100%;
    border: 0;
}
