@use "base/colors";

.wy-pane {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0;
  height: 100%;
  flex: 1 1 auto;
}

.wy-pane-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wy-pane-group {
  padding: .75rem;
}

.wy-pane-background {
  --wy-component-background-color: #{colors.$background};
  --wy-component-color: #{colors.$on-background};
  background-color: var(--wy-component-background-color);
  color: var(--wy-component-color);
}