@use "sass:math";
@use "base/vars";
@use "base/colors";
@use "base/backdrop";
@use "base/breakpoints";

.wy-main {
  display: flex;
  height: calc(100vh - vars.$appbar-height);

  @include breakpoints.media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.wy-preview {
  --wy-component-background-color: #{colors.$background};
  --wy-component-color: #{colors.$on-background};
  background-color: var(--wy-component-background-color);
  color: var(--wy-component-color);

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
  position: relative;
  flex: 1 1 100%;

  min-width: 16rem;
  min-height: 16rem;
  max-height: 100%;
  max-width: 100%;
}

.wy-preview-area {
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.wy-nav-prev, .wy-nav-next {
  --wy-component-background-color: #{colors.$surface-variant};
  --wy-component-color: #{colors.$on-surface-variant};
  
  background-color: var(--wy-component-background-color);
  
  position: absolute;
  top: 50%;
  z-index: vars.$zindex-dropdown;
  border-radius: 50%;
}

.wy-nav-prev {
  left: .5rem;
}

.wy-nav-next {
  right: .5rem;
}

.wy-document {
  // always black on white
  --wy-component-background-color: var(--wy-white);
  --wy-component-color: var(--wy-on-background);
  background-color: var(--wy-component-background-color);
  color: var(--wy-component-color);
  align-self: flex-start;
  padding: 2rem 3.5rem;
  width: 100%;
  min-height: 100%;
  flex: 1 0 auto;
  // approximate A4 dimensions (h/w = sqrt(2) = 1.4142...)
  // TODO: REMOVE BREAKPOINTS
  @include breakpoints.media-breakpoint-up(md) {
    padding: 3rem 4rem;
    margin: 2rem auto;
    border-radius: .125rem;
    box-shadow: vars.$shadow-level2;
    width: 120ch;
    min-height: 170ch;
    max-width: calc(100% - 3.5rem);
  }
}
