@use "base/colors";

// Embedded iframes

.wy-content-iframe {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex: 1 1 100%;

  &.wy-loaded {
    --wy-component-background-color: #{colors.$surface-1};
    --wy-component-color: #{colors.$on-surface};

    background-color: var(--wy-component-background-color);
    color: var(--wy-component-color);

    ~ .wy-content-iframe-fallback, ~ .wy-spinner, ~ wy-spinner {
      display: none;
    }
  }

  &.wy-loading:not(.wy-loaded) {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    pointer-events: none;

    &:not(.wy-fallback) ~ .wy-content-iframe-fallback {
      display: none;
    }

    &.wy-fallback ~ .wy-spinner, &.wy-fallback ~ wy-spinner {
      display: none;
    }
  }

  ~ .wy-spinner, ~ wy-spinner {
    margin: auto;
  }
}
