// Video and audio
.wy-content-video {
  &:not(.wy-error) {
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
  }
}

.wy-content-video, .wy-content-audio {
  margin: auto;

  &.wy-loading, &[data-controller~="media"] {
    &:not(.wy-loaded) {
      visibility: hidden;
    }

    &.wy-loaded {
      ~ .wy-spinner {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
  }
}
