@use "base/colors";

.wy-content-code {
  /*--wy-component-background-color: #{colors.$surface-1};
  --wy-component-color: #{colors.$on-surface};

  background-color: var(--wy-component-background-color);
  color: var(--wy-component-color);
  */

  align-self: flex-start;
  width: 100%;
  padding: 2rem 3.5rem;
}
