@use "variables" as *;

.wy-content-image {
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-height: 100%;
  max-width: 100%;

  &.wy-intrinsic-image {
    object-fit: scale-down;
  }

  &:not(.wy-intrinsic-image) {
    height: 100%;
    width: 100%;
    // Similar to object-fit: contain; but works for divs. Must subtract margins.
    --max-width: #{'min(calc((100vh - 3rem - 1px) * (var(--width) / var(--height))), calc(var(--width) * 1px), 100%)'};
    --max-height: #{'min(calc(100vw * (var(--height) / var(--width))), calc(var(--height) * 1px), 100%)'};
/*     // With sidebar
    body.controller-content & {
      --max-width: #{'min(calc((100vh - 6rem) * (var(--width) / var(--height))), calc(var(--width) * 1px), 100%)'};
      --max-height: #{'min(calc(100vw * (var(--height) / var(--width))), calc(var(--height) * 1px), 100%)'};

      @include bs.media-breakpoint-up(lg) {
        --max-width: #{'min(calc((100vh - 3rem) * (var(--width) / var(--height))), calc(var(--width) * 1px), 100%)'};
        --max-height: #{'min(calc((100vw - 20rem) * (var(--height) / var(--width))), calc(var(--height) * 1px), 100%)'};
      }
    } */

    max-width: var(--max-width);
    max-height: var(--max-height);
    transition: transform $md-animation-duration $md-animation-curve-default, transform-origin $md-animation-duration step-end;
    //cursor: zoom-in;
  }


  &.wy-zoom {
    cursor: zoom-out;
    transition: transform $md-animation-duration $md-animation-curve-default, transform-origin $md-animation-duration step-start;
  }

  img {
    //object-fit: contain;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;

    &:not(.wy-loading-transition):not([data-controller~="image"]) ~ .wy-spinner {
      display: none;
    }

    &.wy-loading, &[data-controller~="image"] {
      transition: opacity 0.15s ease-out;
      opacity: 0;

      &.wy-loaded {
        opacity: 1;
        transition: opacity 0.15s ease-out;

        ~ img {
          // hide any previous images/thumbs, wait for loaded image transition
          transition-delay: 0.15s;
          opacity: 0;
        }

        ~ .wy-spinner {
          display: none;
        }
      }
    }

    &.wy-responsive-image-thumb {
      position: absolute;
      z-index: -1;
    }

    ~ .wy-spinner {
      position: absolute;
    }
  }
}
