@use "config" as *;
@use "mixins/backdrop";
@use "sass:math";

.wy-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - $appbar-height - $border-width);
  position: relative;
}

.wy-nav-prev, .wy-nav-next {
  position: fixed;
  top: 50%;
  z-index: $zindex-dropdown;

   .wy-button-icon {
     background-color: $light;

     .wy-dark & {
      background-color: rgba($dark, $opacity-backdrop);
     }
   }
}

.wy-nav-prev {
  left: .5rem;
}

.wy-nav-next {
  right: .5rem;
} 

.wy-document {
  align-self: flex-start;
  background-color: $body-bg;
  color: color-contrast($body-bg);
  padding: 2rem 3rem;
  width: 100%;
  min-height: 100%;
  // approximate A4 dimensions (h/w = sqrt(2) = 1.4142...)
  @include media-breakpoint-up(md) {
    padding: 3rem 4rem;
    margin: 2rem 3.5rem;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    width: 120ch;
    min-height: 170ch;
    max-width: 100%;
  }
}

// floating toolbar (mainly for pdf preview, but can be also be used for other things)
.wy-toolbar {
  position: fixed;
  z-index: $zindex-fixed;
  bottom: math.div($appbar-height, 2);
  left: 0;
  right: 0;
  height: $appbar-height;
  display: flex;
  justify-content: center;

  span {
    margin-left: .25rem;
  }

  .wy-input {
    text-align: center;
    border-color: transparent;
  }
}

.wy-tools {
  background-color: rgba($light, $opacity-backdrop);
  color: color-contrast($light);
  border-radius: $border-radius;
  display: flex;
  align-items: center;

  @include backdrop.filter;

  // dark theme
  .wy-dark &, &.wy-dark {
    background-color: rgba($dark, $opacity-backdrop);
    color: $navbar-dark-color;

    .wy-icon {
      color: $navbar-dark-color;
    }

    .wy-input {
      background-color: rgba(0, 0, 0, 0.5);
      color: $navbar-dark-color;
    }
  }
}


.wy-tool {
  display: flex;
  align-items: center;
  margin: 0 .5rem;
}
