@use "base/vars";

.wy-content-image {
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  /*&.wy-intrinsic-image {
    object-fit: scale-down;
  }*/

  /*&:not(.wy-intrinsic-image) {
    transition: transform vars.$transition, transform-origin vars.$transition-duration step-end;
    //cursor: zoom-in;
  }*/
  transition: transform vars.$transition, transform-origin vars.$transition-duration step-end;


  &.wy-zoom {
    cursor: zoom-out;
    transition: transform vars.$transition, transform-origin vars.$transition-duration step-start;
  }

  img {
    //object-fit: contain;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;

    &:not(.wy-loading-transition):not([data-controller~="image"]) ~ .wy-spinner {
      display: none;
    }

    &.wy-loading, &[data-controller~="image"] {
      transition: opacity 0.15s ease-out;
      opacity: 0;

      &.wy-loaded {
        opacity: 1;
        transition: opacity 0.15s ease-out;

        ~ img {
          // hide any previous images/thumbs, wait for loaded image transition
          transition-delay: 0.15s;
          opacity: 0;
        }

        ~ .wy-spinner {
          display: none;
        }
      }
    }

    &.wy-responsive-image-thumb {
      position: absolute;
      z-index: -1;
    }

    ~ .wy-spinner {
      position: absolute;
    }
  }
}
