@use "base/colors";
@use "base/vars";
@use "buttons"; // Ensures correct order, since buttons is needed by reactions
@use "dropdown"; // Ensures correct order, since dropdown is needed by reactions

.wy-likes {
  display: inline-flex;
  align-items: center;
}

.wy-like-button {
  background: var(--wy-component-background-color);
  color: var(--wy-primary);
  background-clip: content-box;
}

.wy-like-count {
  padding: 0 .5rem;
  color: var(--wy-outline);
  font-size: var(--wy-font-size-sm);
  


}


.wy-reaction-count {
  margin: 0 0.5rem 0 .125rem;
  line-height: 1;
  font-size: vars.$font-size-sm;
}

.wy-reaction-menu {
  padding: .25rem;
  font-size: 1.125rem;
  border-radius: 2.5rem;
}

.wy-reaction-picker {
  display: flex;

  .wy-reaction-button {
    color: unset;
  }

  // button{
  //   span{
  //     font-size: 2rem;
  //   }
  // }
}

.wy-reactions {
  display: inline-flex;
  align-items: center;
  column-gap: .125rem;
  // hidden when empty
  &:empty {
    display: none;
  }
}

.wy-table-reactions {
  // avatar
  td:first-child {
    width: 3rem;
  }
  // name
  td:nth-child(2) {
    width: 100%;
  }

  tr:last-child td {
    box-shadow: none;
  }
}

.wy-reaction {
  font-size: 1.125rem;
}

.wy-reaction-menu-button {
  background: var(--wy-component-background-color);
  color: currentColor;
  border-radius: vars.$border-radius-pill;
  background-clip: content-box;
}


.wy-reactions-line {
  display: flex;
  align-items: center;

  .wy-reactions {
    background: var(--wy-component-background-color);
    color: currentColor;
    border-radius: vars.$border-radius-pill;
    display: flex;
    width: auto;
    background-clip: content-box;

    > .wy-emoji {
      &:first-child {
        margin-left: .125rem;
      }

      &:last-child {
        margin-right: .125rem;
      }
    }
  }

 
}
