@use "sass:selector";
@use "mixins/scrollbar";

.wy-scroll-y {
  @include scrollbar.scroll-y;

  &:not(.wy-scroll-x) {
    overflow-x: hidden;
    touch-action: pan-y;
  }
}

.wy-scroll-x {
  @include scrollbar.scroll-x;

  &:not(.wy-scroll-y) {
    overflow-y: hidden;
    touch-action: pan-x;
  }
}

.wy-scrollbars {
  // custom scrollbar styling
  // use overlay scrollbars if supported

  &.wy-scroll-y, .wy-scroll-y {
    @supports (overflow-y: overlay) {
      overflow-y: overlay;
    }

    @include scrollbar.custom-scrollbar;

    // scrollbar offsets
    @include scrollbar.scrollbar-top-padding(#{'var(--wy-scrollbar-adjust-top, 0)'});
    @include scrollbar.scrollbar-bottom-padding(#{'var(--wy-scrollbar-adjust-bottom, 0)'});
  }
}

// prevent scroll when opening modals etc.
.wy-block-scroll {
  overflow: hidden !important;
}

// element for detecting scrollbar capabilities (visibility, overlay etc.)
.wy-scrollbar-detection {
  position: fixed;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  overflow: scroll;
  z-index: -99999;
  pointer-events: none;
  visibility: hidden;
}
