@use "config" as *;
@use "bs/forms";
@use "icons";
@use "spinner";
@use "tables";

input[type="search"]::-webkit-search-cancel-button {
  // REVIEW: can we use close.svg?
  -webkit-appearance: none;
}

.wy-search-form {
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;

  [type=reset] {
    display: none;
  }

  .wy-button-icon {
    position: absolute;
    top: .25rem;
    border-radius: 50%;
    top: .5rem;
    //left: .5rem;
    padding: 0.25rem;
    z-index: 4;
  }
}

.wy-search-input {
  @extend %form-control, %form-control-sm;
  background: $light;
  border-color: transparent;
  padding-left: 2rem;

  &:focus {
    background: $light;
    border-color: transparent;
  }

}

.wy-searching .wy-search-form,
.wy-searching.wy-search-form {
  [type=reset] {
    display: inline;
  }

  [type=submit] {
    display: none;
  }
}

.wy-search-result-table {
  @extend %table,
  %table-icons;

  td:nth-child(2) {
    @include text-truncate();
  }
}

.wy-search-no-result {
  color: $text-muted;
  text-align: center;
}
