@use "base/colors";

$spinner-offset: 187 !default;
$spinner-duration: 1.4s !default;

.wy-spinner, .wy-icon[data-icon=spinner] {
  align-self: center;
  justify-self: center;
  margin: auto;

  circle {
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
    transform-origin: center;
    fill: none !important;
  }

  &.wy-spin {
    // add class .wy-spin to animate the spinner (otherwise it will not be visible)
    animation: wy-rotate $spinner-duration linear infinite;

    circle {
      animation: wy-dash $spinner-duration ease-in-out infinite, wy-color ($spinner-duration*2) ease-in-out infinite;
    }
  }

  &.wy-spinner-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

@keyframes wy-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wy-dash {
  0% {
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 44.5, 100;
    stroke-dashoffset: -17.5;
  }

  100% {
    stroke-dasharray: 44.5, 100;
    stroke-dashoffset: -62;
  }
}

@keyframes wy-color {
  0%, 100% {
    stroke: colors.$primary;
  }

  25% {
    stroke: colors.$primary;
  }

  50% {
    stroke: transparent;
  }

  75% {
    stroke: colors.$primary;
  }
}
