@use "sass:map";
@use "base/vars";
@use "base/colors";

$toast-max-width: 16rem !default;
$toast-padding-x: .75rem !default;
$toast-padding-y: .5rem !default;

.wy-toasts {
  position: fixed;
  left: 0;
  bottom: 3.5rem;
  right: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: vars.$zindex-fixed;
  gap: 1rem;
}

.wy-toast {
  background: colors.$on-surface;
  color: colors.$surface-2;
  margin: 0 0 1rem;
  width: $toast-max-width;
  max-width: calc(100% - 3rem);
  gap: .5rem;
  display: flex;
  cursor: pointer;
  border-radius: vars.$border-radius;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
  padding: $toast-padding-y $toast-padding-x;
  user-select: none;
  box-shadow: vars.$shadow-level2;
  position: relative;
  overflow: hidden;
  height: auto;

  &.wy-fade {
    transition: all vars.$transition;
    
    &:not(.wy-show) {
      opacity: 0;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.wy-toast-action {
  position: sticky;
  top: 4.5rem;
  bottom: 4.5rem;
  // TODO: check z-index - needs to be below dropdown z-index (1000) currently $zindex-toast is 1090
  z-index: 999;
  background-color: colors.$primary;
  color: colors.$on-primary;
  padding: .5rem 1rem;
  border-radius: 50rem;
  font-size: vars.$font-size-xs;
  width: max-content;
  align-self: center;
  text-align: center;
  box-shadow: none;
}

.wy-toast-primary {
  background: colors.$on-primary-container;
  color: colors.$primary-container;
}
