// 1. Introduce Weavy theme variables
@import "colors"; // weavy color system

$appbar-height: 3rem;
$footerbar-height: 3.5rem;

$opacity-backdrop: .95;

// TODO: remove the following $client- variables (used in dropin-js)
$client-panel-width: 24rem; // 384px, previously 375px;
$client-zindex: 2147483647; // max possible z-index
$client-border-radius: .25rem;
$client-icon-size: 2.5rem;
$client-alert-background: $primary-200;
$client-alert-color: $primary-800;

// Additional font sizes and weights
//$font-size-xxs: .625rem; // 7.5pt/10px
$font-size-xs: .75rem; // 9pt/12px
//$font-weight-thin: 100;
//$font-weight-extralight: 200;
$font-weight-medium: 500;
//$font-weight-extrabold: 800;
//$font-weight-black: 900;
//$font-weight-extrablack: 950;

// Material design buttons and icons
$btn-hover-bg: rgba(0, 0, 0, .04);
$btn-active-bg: rgba(0, 0, 0, .12);
$icon-color: rgba(0, 0, 0, .54);
$icon-hover-color: rgba(0, 0, 0, .87);
$icon-light-color: rgba(255, 255, 255, .70);
$icon-light-hover-color: rgba(255, 255, 255, 1);
$icon-color-primary: rgba($primary-700, .87);
$icon-hover-color-primary: rgba($primary-700, 1);
$icon-light-color-primary: rgba($primary-300, .87);
$icon-light-hover-color-primary: rgba($primary-300, 1);

// Material design animation and shadows from https://fezvrasta.github.io/bootstrap-material-design/
$md-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$md-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$md-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
$md-animation-curve-default: $md-animation-curve-fast-out-slow-in;
$md-animation-duration: .2s;
$md-animation-duration-fast: .1s;
$md-shadow-umbra-opacity: 0.2;
$md-shadow-penumbra-opacity: 0.14;
$md-shadow-ambient-opacity: 0.12;
$md-shadow-focus: 0 0 .5rem rgba($black, .18), 0 .5rem 1rem rgba($black, .36);
$md-shadow-2dp: 0 .125rem .125rem 0 rgba($black, $md-shadow-penumbra-opacity), 0 .1875rem .0625rem -.125rem rgba($black, $md-shadow-umbra-opacity), 0 .0625rem .3125rem 0 rgba($black, $md-shadow-ambient-opacity);
$md-shadow-3dp: 0 .1875rem .25rem 0 rgba($black, $md-shadow-penumbra-opacity), 0 .1875rem .1875rem -.125rem rgba($black, $md-shadow-umbra-opacity), 0 .0625rem .5rem 0 rgba($black, $md-shadow-ambient-opacity);
$md-shadow-4dp: 0 .25rem .3125rem 0 rgba($black, $md-shadow-penumbra-opacity), 0 .0625rem .625rem 0 rgba($black, $md-shadow-ambient-opacity), 0 .125rem .25rem -.0625rem rgba($black, $md-shadow-umbra-opacity);
$md-shadow-6dp: 0 .375rem .625rem 0 rgba($black, $md-shadow-penumbra-opacity), 0 .0625rem 1.5rem 0 rgba($black, $md-shadow-ambient-opacity), 0 .1875rem .3125rem -.0625rem rgba($black, $md-shadow-umbra-opacity);
$md-shadow-8dp: 0 .5rem .625rem .0625rem rgba($black, $md-shadow-penumbra-opacity), 0 .1875rem 1.25rem .125rem rgba($black, $md-shadow-ambient-opacity), 0 .3125rem .3125rem -.1875rem rgba($black, $md-shadow-umbra-opacity);
$md-shadow-16dp: 0 1rem 2.25rem .125rem rgba($black, $md-shadow-penumbra-opacity), 0 .375rem 1.875rem .3125rem rgba($black, $md-shadow-ambient-opacity), 0 .5rem .625rem -.3125rem rgba($black, $md-shadow-umbra-opacity);
$md-shadow-24dp: 0 .5625rem 4.375rem .5rem rgba($black, $md-shadow-penumbra-opacity), 0 1.0625rem 1.3125rem -.4375rem rgba($black, $md-shadow-ambient-opacity), 0 2.25rem 3.5rem .1875rem rgba($black, $md-shadow-umbra-opacity);

// 2. Override bootstrap variables

// Options
$enable-shadows: true;
$enable-smooth-scroll: false;
$enable-grid-classes: false;

// Prefix for :root CSS variables
$prefix: wy-;

// Body
$body-color: $gray-950;

// Links
$link-decoration: none;

// Components
$border-color: $gray-200;

$box-shadow: $md-shadow-8dp;
$box-shadow-sm: $md-shadow-4dp;
$box-shadow-lg: $md-shadow-16dp;
$box-shadow-inset: 0;

$component-active-color: $gray-900; // $white
$component-active-bg: $gray-100; // $primary

// Tables
$table-hover-bg: $light;
$table-border-color: $gray-100;

// Buttons
$btn-box-shadow: unset; 
$btn-focus-box-shadow: unset;
$btn-active-box-shadow: unset;

// Forms
$input-focus-border-color: tint-color($primary, 50%);

// Navbar
$navbar-padding-x: .5rem;

$navbar-dark-color: rgba($white, .62);
$navbar-dark-hover-color: rgba($white, .95);

$navbar-light-color: rgba($black, .69);
$navbar-light-hover-color: rgba($black, .88);
$navbar-light-active-color: $black;

// Dropdowns
$dropdown-padding-y: .25rem;
$dropdown-spacer: .25rem;
$dropdown-border-width: 0;
$dropdown-divider-margin-y: .25rem;
$dropdown-box-shadow: $md-shadow-2dp;

$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: $light;

$dropdown-item-padding-y: .75rem;
$dropdown-item-padding-x: .75rem;

// Cards
$card-cap-bg: $white;

// Toasts
$toast-max-width: auto;
$toast-font-size: 1rem;
$toast-color: $gray-200;
$toast-background-color: $gray-800;

// Modals
$modal-header-border-width: 0;

// List group
$list-group-hover-bg: $light;

$list-group-action-active-color: $component-active-color;
$list-group-action-active-bg: $component-active-bg;

// 3. Import default bootstrap variables
@import "bootstrap/variables";
