// weavy reboot
@use "theme/base/reboot";
@use "theme/base/scroll";
@use "theme/base/colors";

// weavy ui components 
@use "theme/appbar";
@use "theme/avatar";
@use "theme/badge";
@use "theme/buttons";
@use "theme/checkbox";
@use "theme/code";
@use "theme/content";
@use "theme/conversations";
@use "theme/dropdown";
@use "theme/emoji";
@use "theme/icons";
@use "theme/image-grid";
@use "theme/input";
@use "theme/item";
@use "theme/list";
@use "theme/messages";
@use "theme/message-editor";
@use "theme/meta";
@use "theme/overlays";
@use "theme/pager";
@use "theme/pane";
@use "theme/panels";
@use "theme/picker-list";
@use "theme/preview";
@use "theme/preview-code";
@use "theme/preview-embed";
@use "theme/preview-html";
@use "theme/preview-image";
@use "theme/preview-media";
@use "theme/preview-pdf";
@use "theme/preview-text";
@use "theme/reactions";
@use "theme/spinner";
@use "theme/tables";
@use "theme/type";
@use "theme/typing";
@use "theme/meeting";

// layout
.wy-messenger-provider {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1 1 0;
}
  
.wy-messenger-sidebar {
  ---background-color: #{colors.$background};
  ---color: #{colors.$on-background};

  background-color: var(---background-color);
  color: var(---color);

  width: 300px;
  border-right: 1px solid #{colors.$outline-variant};
}
  
.wy-messenger-conversation {
  ---background-color: #{colors.$background};
  ---color: #{colors.$on-background};

  background-color: var(---background-color);
  color: var(---color);

  overflow-anchor: none;
  display: flex;
  flex-direction: column;                    
  flex: 1 1 0;
}
  
  
