// weavy reboot
@use "theme/reboot";

// weavy ui components 
@use "theme/appbar";
@use "theme/attachments";
@use "theme/avatar";
@use "theme/badge";
@use "theme/buttons";
@use "theme/checkbox";
@use "theme/code";
@use "theme/content";
@use "theme/conversations";
@use "theme/dropdown";
@use "theme/emoji";
@use "theme/icons";
@use "theme/image-grid";
@use "theme/inputs";
@use "theme/messages";
@use "theme/message-editor";
@use "theme/overlays";
@use "theme/pager";
@use "theme/pane";
@use "theme/panels";
@use "theme/picker-list";
@use "theme/preview";
@use "theme/preview-code";
@use "theme/preview-embed";
@use "theme/preview-html";
@use "theme/preview-icon";
@use "theme/preview-image";
@use "theme/preview-media";
@use "theme/preview-pdf";
@use "theme/preview-text";
@use "theme/reactions";
@use "theme/search";
@use "theme/scroll";
@use "theme/spinner";
@use "theme/typing";

// layout
.wy-messenger-provider {
    display: flex;
    min-height: 0;
    min-width: 0;
    flex: 1 1 0;
  }
  
  .wy-messenger-sidebar {
    width: 300px;
    border-right: 1px solid #ccc;
  }
  
  .wy-messenger-conversation{
    overflow-anchor: none;
    display: flex;
    flex-direction: column;                    
    flex: 1 1 0;
  }
  
  
